
<header>
<div class="header has-style1">
    <div class="top-site">
        <div class="container">
            <p> Reach us on info@encodeio.com / +91 88600 00155</p>
        </div>
    </div>
    <!-- =========================== navbar-->
    <nav class="navbar">
        <div class="container">
            <div class="flex">
                <a href="/index.html " class="navbar-brand flex vcenter"><img data-aos="fade-right" class="logo"
                        src="/assets/images/logos/encodeio-logo.png" alt=""></a>
                <ul class="navbar-menu">
  
                    <li class="menu-item-has-children" data-aos="fade-left" data-aos-delay="100">
                        <a routerLink=''>Home</a>
                        <!-- <ul class="sub-menu">
                            <li><a class="fade-page" href="/services">Home 1</a>
                            </li>
                            <li><a class="fade-page" href="Home_2.html">Home 2</a>
                            </li>
                            <li><a class="fade-page" href="Home_3.html">Home 3</a>
                            </li>
                            <li><a class="fade-page" href="Home_4.html">Home 4</a>
                            </li>
                            <li><a class="fade-page" href="Home_5.html">Home 5</a>
                            </li>
                            <li><a class="fade-page" href="Home_6.html">Home 6</a>
                            </li>
                        </ul> -->
  
                    </li>
                    <li class="menu-item-has-children" data-aos="fade-left" data-aos-delay="150">
                        <a routerLink='services'> Services </a>
                        <ul class="sub-menu">
                            <li><a class="fade-page" href="creative-agency">Creative Strategy</a>
                            </li>
                            <li><a class="fade-page" href="web-designing">Web Designing</a>
                            </li>
                            <li><a class="fade-page" href="graphic-designing">Graphic Designing</a>
                            </li>
                            <li><a class="fade-page" href="web-application">Web Applications</a>
                            </li>
                            <li><a class="fade-page" href="app-development">App Development</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="menu-item-has-children" data-aos="fade-left" data-aos-delay="200">
                        <a> Products </a>
                        <ul class="sub-menu">
                            <li><a class="fade-page" href="page_plans.html"> Plans </a>
                            </li>
                            <li><a class="fade-page" href="page_plan_single.html">Plan single</a>
                            </li>
                            <li><a class="fade-page" href="page_plan_list.html">Plan list</a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="menu-item-has-children" data-aos="fade-left" data-aos-delay="250">
                        <a href='https://encodeio.com/blog'> Blog </a>
                        <ul class="sub-menu">
                            <li><a class="fade-page" href="page_blog.html"> Blog grid </a>
                            </li>
                            <li><a class="fade-page" href="page_blog_details.html"> Blog with sidebar</a>
                            </li>
                            <li><a class="fade-page" href="page_Article.html"> Article page</a>
                            </li>
                        </ul>
                    </li>
                   
                    <!-- <li class="menu-item-has-children" data-aos="fade-left" data-aos-delay="350">
                        <a> Industries</a>
                        <ul class="sub-menu">
                            <li><a class="fade-page" href="page_help.html"> Help center </a>
                            </li>
                            <li><a class="fade-page" href="page_sign.html"> Sign in </a>
                            </li>
                            <li><a class="fade-page" href="page_signUp.html"> Sign up</a>
                            </li>
                            <li><a class="fade-page" href="page_signUp.html"> 404 Page</a>
                            </li>
                            <li><a class="fade-page" href="page_about.html">About</a>
                            </li>
                            <li><a class="fade-page" href="page_career.html">Career</a>
                            </li>
                            <li><a class="fade-page" href="page_services.html">Services</a>
                            </li>
  
                            <li><a class="fade-page" href="page_Forgot-password.html"> Forgot password</a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="menu-item-has-children" data-aos="fade-left" data-aos-delay="300">
                      <a routerLink='about-us'> About Us</a>
                      <!-- <ul class="sub-menu">
                          <li><a class="fade-page" href="page_contact.html">Contact 1 </a>
                          </li>
                          <li><a class="fade-page" href="page_contact2.html"> Contact 2</a>
                          </li>
                          <li><a class="fade-page" href="page_contact3.html"> Contact 3</a>
                          </li>
                      </ul> -->
                  </li>
                    <li class="menu-item-has-children" data-aos="fade-left" data-aos-delay="300">
                      <a routerLink='contact-us'> Contact Us</a>
                      <!-- <ul class="sub-menu">
                          <li><a class="fade-page" href="page_contact.html">Contact 1 </a>
                          </li>
                          <li><a class="fade-page" href="page_contact2.html"> Contact 2</a>
                          </li>
                          <li><a class="fade-page" href="page_contact3.html"> Contact 3</a>
                          </li>
                      </ul> -->
                  </li>
                </ul>
            </div>
            <div class="level-right">
                <!-- your list menu here -->
                <div class="navbar-menu  ">
  
                    <a href='/contact-us' data-aos="fade-left" data-aos-delay="400" class="btn btn-primary mr-1 "> Connect With Us
                    </a>
                    <!-- <a href="" class="btn btn-opacity  "> Sign in
                    </a> -->
                </div>
                <div class="mobile-overlay">
                    <div class="mobile-overlay-bg"></div>
                    <div class="mobile-menu">
                        <div class="close">
                            <ion-icon class="close-mobile-menu" name="close-outline"></ion-icon>
                        </div>
                        <!-- your list menu in mobile here -->
                        <ul>
                            <li><a class="has-dropdown-m " href="#">
                                    Landing page Demos
                                    <ion-icon name="add-outline"></ion-icon> </a>
                                <ul class="dropdown-mobile">
                                    <li> <a href="Home_1.html"> Home 1 </a> </li>
                                    <li> <a href="Home_2.html"> Home 2 </a> </li>
                                    <li> <a href="Home_3.html"> Home 3 </a> </li>
                                    <li> <a href="Home_4.html"> Home 4 </a> </li>
                                    <li> <a href="Home_5.html"> Home 5 </a> </li>
                                    <li> <a href="Home_6.html"> Home 6 </a> </li>
  
                                </ul>
                            </li>
                            <li><a class="has-dropdown-m " href="#">
                                    Agency
                                    <ion-icon name="add-outline"></ion-icon> </a>
                                <ul class="dropdown-mobile">
                                    <li><a class="fade-page" href="page_about.html">About</a>
                                    </li>
                                    <li><a class="fade-page" href="page_career.html">Career</a>
                                    </li>
                                    <li><a class="fade-page" href="page_services.html">Services</a>
                                    </li>
                                </ul>
                            </li>
  
                            <li><a class="has-dropdown-m" href="#">
                                    Plans
                                    <ion-icon name="add-outline"></ion-icon> </a>
                                <ul class="dropdown-mobile">
                                    <li><a class="fade-page" href="page_plans.html"> Plans </a>
                                    </li>
                                    <li><a class="fade-page" href="page_plan_single.html">Plan single</a>
                                    </li>
                                    <li><a class="fade-page" href="page_plan_list.html">Plan list</a>
                                    </li>
                                </ul>
                            </li>
  
                            <li><a class="has-dropdown-m" href="#">
                                    Blog
                                    <ion-icon name="add-outline"></ion-icon> </a>
                                <ul class="dropdown-mobile">
                                    <li><a class="fade-page" href="page_blog.html"> Blog grid </a>
                                    </li>
                                    <li><a class="fade-page" href="page_blog_details.html"> Blog with sidebar</a>
                                    </li>
                                    <li><a class="fade-page" href="page_Article.html"> Article page</a>
                                    </li>
                                </ul>
                            </li>
  
                            <li><a class="has-dropdown-m" href="#">
                                    Contact
                                    <ion-icon name="add-outline"></ion-icon> </a>
                                <ul class="dropdown-mobile">
                                    <li><a class="fade-page" href="page_contact.html">Contact 1 </a>
                                    </li>
                                    <li><a class="fade-page" href="page_contact2.html"> Contact 2</a>
                                    </li>
                                    <li><a class="fade-page" href="page_contact3.html"> Contact 3</a>
                                </ul>
                            </li>
  
  
                            <li><a class="has-dropdown-m" href="#">
                                    Other pages
                                    <ion-icon name="add-outline"></ion-icon> </a>
                                <ul class="dropdown-mobile">
                                    <li><a class="fade-page" href="page_help.html"> Help center </a>
                                    </li>
                                    <li><a class="fade-page" href="page_sign.html"> Sign in </a>
                                    </li>
                                    <li><a class="fade-page" href="page_signUp.html"> Sign up</a>
                                    </li>
                                    <li><a class="fade-page" href="page_404.html"> 404</a>
                                    </li>
                                    <li><a class="fade-page" href="page_Forgot-password.html"> Forgot password</a>
                                    </li>
                                </ul>
                            </li>
  
  
                            <li><a href="#"> download betakit</a> </li>
  
  
  
                        </ul>
                        <div class="copyright">© 2020, betakit. Made with passion by <a
                                href="https://themeforest.net/user/creabik" target="_blank">creabik</a>.
                            <br>All right reserved.</div>
                    </div>
  
                </div>
                <div class="flex">
                    <div class="menu-toggle-icon">
                        <div class="menu-toggle">
                            <div class="menu">
                                <input type="checkbox">
                                <div class="line-menu"></div>
                                <div class="line-menu"></div>
                                <div class="line-menu"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</header>