<header class="header-page3 bg-pattern">

    <div class="header-wrap">
        <div class="container">
        <h2 class="header-title"> About EncodeIO</h2>

        <p class="header-desc"> Design Platform For Business Acceleration </p>
    </div>
</div>
</header>
    <!-- =========================== section About-->
    <!-- <section class="section section-about section-counter">
        <div class="container">
            <div class="row counters flex center">
                
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="counter-item">
                        <h5 class="counter-number">+451 000</h5>
                        <p class="counter-name"> Clients </p>
                    </div>
                </div>
                
                <div class="col-lg-3  col-md-4 col-6">
                    <div class="counter-item">
                        <h5 class="counter-number">+9 500</h5>
                        <p class="counter-name"> jobs </p>
                    </div>
                </div>
                
                <div class="col-lg-3  col-md-4 col-6">
                    <div class="counter-item">
                        <h5 class="counter-number">+18 000</h5>
                        <p class="counter-name"> invester </p>
                    </div>
                </div>
                
                <div class="col-lg-3  col-md-4 col-6">
                    <div class="counter-item">
                        <h5 class="counter-number">+70</h5>
                        <p class="counter-name"> worker </p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="section is-sm section-about">
        <div class="container">
            <div class="row flex vcenter section-head ">
                <div class="col-lg-6">
                        <h5 class="section-subtitle "> About EncodeIO </h5>
                        <h2 class="section-title ">Create Your Own
                            Design Masterpiece</h2>
                    </div>             
                <div class="col-lg-6">
                    <div class="section-head mb-0">
                        <p class="section-desc mt-0">We are a versatile and a multi-disciplinary creative agency in India. 
                            Our work encompasses graphics and identities, brands and designs, sound and motion  & products and experience. <br><br>We’re driven by the combination of world-class and capable creators to deliver across the entire creative spectrum.
                            .</p>
                            <p class="section-desc mg-0">We help brands, businesses and organizations to narrate their story and communicate with their target audiences with absolute clarity and purpose.
                            </p>
                    </div>
                </div>


            </div>
            <img  class=" img-fluid " src="../assets/images/bg/Encodeio-About-Us-Page.png" alt="">
        </div>
    </section>

    <!-- =========================== section feautures-->
    <section class="section is-sm bg-secondary ">
        <div class="container">
            <div class="lines">
                <img src="../assets/images/others/lines.svg" alt="">
            </div>
            <div class="section-head flex between vcenter wrap">
                <h2 class="section-title ">Here is what all we do!<br>
                    Our Services</h2>
                <!-- <a class="btn btn-dark btn-round text-white sm-hidden"> check services </a> -->
            </div>
            <div class="boxes">
                <div class="row min-30">
                    <div class="col-lg-4 col-md-6">
                        <div class="box has-secondary-bg has-left-icon">
                            <div class="box-particles2">
                                <img src="../assets/images/others/box-particle-2.svg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="box-icon">
                                        <ion-icon name="compass"></ion-icon>
                                    </div>
                                </div>
                                <div class="col">
                                    <h3 class="box-title"> Creative Agency</h3>
                                    <p class="box-desc">Advertising, Branding, Content & Social Media
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="box has-shadow has-left-icon">
                            <div class="box-particles2">
                                <img src="../assets/images/others/box-particle-2.svg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="box-icon">
                                        <ion-icon name="cog"></ion-icon>
                                    </div>
                                </div>
                                <div class="col">
                                    <h3 class="box-title">Web Designing</h3>
                                    <p class="box-desc">Web Design Services UI/UX, HTML Responsive Templates
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="box has-secondary-bg has-left-icon">
                            <div class="box-particles2">
                                <img src="../assets/images/others/box-particle-2.svg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="box-icon">
                                        <ion-icon name="brush"></ion-icon>
                                    </div>
                                </div>
                                <div class="col">
                                    <h3 class="box-title">Graphic Designing</h3>
                                    <p class="box-desc">Templates, Brochures, Banners, Brand Foundation
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="box has-shadow has-left-icon">
                            <div class="box-particles2">
                                <img src="../assets/images/others/box-particle-2.svg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="box-icon">
                                        <ion-icon name="planet"></ion-icon>
                                    </div>
                                </div>
                                <div class="col">
                                    <h3 class="box-title"> Web Application</h3>
                                    <p class="box-desc">PHP, .Net, Frameworks like Angular, Laravel, Codeigniter
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="box has-secondary-bg has-left-icon">
                            <div class="box-particles2">
                                <img src="../assets/images/others/box-particle-2.svg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="box-icon">
                                        <ion-icon name="logo-slack"></ion-icon>
                                    </div>
                                </div>
                                <div class="col">
                                    <h3 class="box-title"> App Development</h3>
                                    <p class="box-desc">App Developemt - Android / iOS. Xamarin
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </section>
    <!-- =========================== section team-->
    <!-- <section class="section is-sm section-team">
        <div class="container">
            <div class="section-head">
                <h5 class="section-subtitle is-center"> Meet our team</h5>
                <h2 class="section-title is-center ">We are a smart team of
                    leading digital</h2>
            </div>
            <div class="row min-30">
                <div class="col-lg-3 col-md-6">
                    <div class="team-box flex center">
                        <div class="team-thumb">
                            <img src="../assets/images/bg/member1.png" alt="">
                            <ul class="team-social flex center vcenter">
                                <li> <a href="#"> <i class="fab fa-twitter"></i></a> </li>
                                <li> <a href="#"> <i class="fab fa-facebook-f"></i></a> </li>
                                <li> <a href="#"> <i class="fab fa-quora"></i></a> </li>
                                <li> <a href="#"> <i class="fab fa-reddit"></i></a> </li>
                            </ul>
                        </div>
                        <h4 class="team-name">amira yerden</h4>
                        <p class="team-position">developper</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-box flex center">
                        <div class="team-thumb">
                            <img src="../assets/images/bg/member2.png" alt="">
                            <ul class="team-social flex center vcenter">
                                <li> <a href="#"> <i class="fab fa-twitter"></i></a> </li>
                                <li> <a href="#"> <i class="fab fa-facebook-f"></i></a> </li>
                                <li> <a href="#"> <i class="fab fa-quora"></i></a> </li>
                                <li> <a href="#"> <i class="fab fa-reddit"></i></a> </li>
                            </ul>
                        </div>
                        <h4 class="team-name">Mark linomi</h4>
                        <p class="team-position">developper</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-box flex center">
                        <div class="team-thumb">
                            <img src="../assets/images/bg/member3.png" alt="">
                            <ul class="team-social flex center vcenter">
                                <li> <a href="#"> <i class="fab fa-twitter"></i></a> </li>
                                <li> <a href="#"> <i class="fab fa-facebook-f"></i></a> </li>
                                <li> <a href="#"> <i class="fab fa-quora"></i></a> </li>
                                <li> <a href="#"> <i class="fab fa-reddit"></i></a> </li>
                            </ul>
                        </div>
                        <h4 class="team-name">ayoub fennouni</h4>
                        <p class="team-position">developper</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-box flex center">
                        <div class="team-thumb">

                            <img src="../assets/images/bg/member4.png" alt="">
                            <ul class="team-social flex center vcenter">
                                <li> <a href="#"> <i class="fab fa-twitter"></i></a> </li>
                                <li> <a href="#"> <i class="fab fa-facebook-f"></i></a> </li>
                                <li> <a href="#"> <i class="fab fa-quora"></i></a> </li>
                                <li> <a href="#"> <i class="fab fa-reddit"></i></a> </li>
                            </ul>
                        </div>
                        <h4 class="team-name">Marina mojo</h4>
                        <p class="team-position">developper</p>
                    </div>
                </div>

            </div>
        </div>
    </section> -->
    <br>
    <section class="section is-sm section-about">
        <div class="container">
           
                    <div class="section-head mb-0">
                        <p class="section-desc mt-0">We are a dedicated team of some creative minds. We work as a team to provide all the required support to our clients.<br><br>We are:  
                        </p>
                        <ul>
                            <li><b>Experienced:</b> We have a set of experienced designers and creators who can work around any creative requirement.</li>
                            <li><b>Range:</b> We cater to a huge range of services. We can help you with any kind of creative requirement.</li>
                            <li><b>Support:</b> We have a dedicated team of experts that offers support round the clock.</li>
                        </ul>   
                            
                            <p class="section-desc mg-0">If you have an idea but are not sure about how it can be visualized, come have a chat with us or if you have an existing brand but wish to drive it further than current markets, call us now!<br><br> We are a creative agency you have always hoped and wished to work with. <br><br> Get in touch with EncodeIO to get to know how it is to work with some amazing creative minds out here!!
                            </p>
                    </div>
                
        </div>
    </section>