<div class="custom-dialog {{modalType}}">
	<!-- <h2 mat-dialog-title>{{modalTitle}}</h2>
	<mat-dialog-content>
		<p>
			{{modalMessage}}
		</p>
	</mat-dialog-content> -->

	<!-- <h4 class="block-effect" style="--td: 1.2s" align="center">
		<div class="block-reveal" style="--bc: #4040bf; --d: .1s; font-size: 2.5rem;">Thank You for contacting us</div>
		<div class="block-reveal" style="--bc: #bf4060; --d: .5s; font-size: 20px;"><p _ngcontent-hkm-c197="" class="section-desc is-center">Please submit your business information and an Avocode Business representative will follow up with you within 24 hours.</p></div>
	</h4> -->

	<div _ngcontent-hcr-c199="" >
		<div _ngcontent-hcr-c199="" class="box has-secondary-bg has-left-icon">
			<div _ngcontent-hcr-c199="" class="box-particles2">
				<img _ngcontent-hcr-c199="" src="../assets/images/others/box-particle-2.svg" alt="">
			</div>
			<div _ngcontent-hcr-c199="" class="row">
				<div _ngcontent-hcr-c199="" class="col-auto">
					<div _ngcontent-hcr-c199="" class="box-icon">
						<ion-icon _ngcontent-hcr-c199="" name="logo-slack" ng-reflect-name="logo-slack" role="img" class="md hydrated" aria-label="logo slack">

						</ion-icon>
					</div>
				</div>
				<div _ngcontent-hcr-c199="" class="col">
							<h3 _ngcontent-hcr-c199="" class="box-title" style="font-size: 25px;">{{modalTitle}}</h3>
							<p _ngcontent-hcr-c199="" class="box-desc" style="font-size: 18px;">{{modalMessage}}</p>
							
						</div>
						
					</div>
					<mat-dialog-actions align="center">
						<!-- <button mat-button mat-raised-button [mat-dialog-close]="false">No</button> -->
						<button mat-raised-button [mat-dialog-close]="true">OK</button>
					</mat-dialog-actions>
				</div>
				
			</div>
	
	
</div>