
    <header class="header-page3 bg-pattern">

            <div class="header-wrap">
                <div class="container">
                <h2 class="header-title"> Our Services</h2>

                <p class="header-desc"> Our creative business services, but not limited to. </p>
            </div>
        </div>
    </header>
    <!-- =========================== section feautures-->
    <section class="section is-sm bg-secondary ">
        <div class="container">
            <div class="lines">
                <img src="../assets/images/others/lines.svg" alt="">
            </div>
            <div class="section-head flex between vcenter wrap">
                <h2 class="section-title ">Here is what all we do!<br>
                    Our Services</h2>
                <!-- <a class="btn btn-dark btn-round text-white sm-hidden"> check services </a> -->
            </div>
            <div class="boxes">
                <div class="row min-30">
                    <div class="col-lg-4 col-md-6">
                        <div class="box has-secondary-bg has-left-icon">
                            <div class="box-particles2">
                                <img src="../assets/images/others/box-particle-2.svg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="box-icon">
                                        <ion-icon name="compass"></ion-icon>
                                    </div>
                                </div>
                                <div class="col">
                                    <h3 class="box-title"> Creative Agency</h3>
                                    <p class="box-desc">Advertising, Branding, Content & Social Media
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="box has-shadow has-left-icon">
                            <div class="box-particles2">
                                <img src="../assets/images/others/box-particle-2.svg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="box-icon">
                                        <ion-icon name="cog"></ion-icon>
                                    </div>
                                </div>
                                <div class="col">
                                    <h3 class="box-title">Web Designing</h3>
                                    <p class="box-desc">Web Design Services UI/UX, HTML Responsive Templates
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="box has-secondary-bg has-left-icon">
                            <div class="box-particles2">
                                <img src="../assets/images/others/box-particle-2.svg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="box-icon">
                                        <ion-icon name="brush"></ion-icon>
                                    </div>
                                </div>
                                <div class="col">
                                    <h3 class="box-title">Graphic Designing</h3>
                                    <p class="box-desc">Templates, Brochures, Banners, Brand Foundation
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="box has-shadow has-left-icon">
                            <div class="box-particles2">
                                <img src="../assets/images/others/box-particle-2.svg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="box-icon">
                                        <ion-icon name="planet"></ion-icon>
                                    </div>
                                </div>
                                <div class="col">
                                    <h3 class="box-title"> Web Application</h3>
                                    <p class="box-desc">PHP, .Net, Frameworks like Angular, Laravel, Codeigniter
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="box has-secondary-bg has-left-icon">
                            <div class="box-particles2">
                                <img src="../assets/images/others/box-particle-2.svg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="box-icon">
                                        <ion-icon name="logo-slack"></ion-icon>
                                    </div>
                                </div>
                                <div class="col">
                                    <h3 class="box-title"> App Development</h3>
                                    <p class="box-desc">App Developemt - Android / iOS. Xamarin
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </section>


    <!-- =========================== section Testimonials-->
    <section class="section is-sm section-testimonial overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-head">
                        <h5 class="section-subtitle"> Testimonials</h5>
                        <h2 class="section-title">we help businesses and
                            professionals everyday<span class="text-primary">. </span></h2>
                        <h2 class="display-4 mb-2">4.5<span class="text-primary">. </span></h2>
                        <p class="mb-2">Rated Based on 830 reviews..</p>
                        <img class="stars" src="../assets/images/others/stars.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="client-wrap is-white">
                        <div class="client-img">
                            <img src="../assets/images/others/client-img.svg" alt="">
                        </div>
                        <p class="client-quote"> Share your beautiful travel stories with bold imagery in this
                            contemporary personal magazine. Featured images use the new shape dividers for extra style.
                        </p>
                        <div class="flex">
                            <strong class=" client-name ">Ayoub fennouni</strong>
                            <p class="client-position">CEO</p>
                        </div>
                    </div>
                    <img class="section-shape2" src="../assets/images/bg/testimonials-light.svg" alt="">
                </div>
            </div>


        </div>
    </section>
    <!-- <section class="section is-sm bg-secondary  ">
        <div class="container">
            <div class="section-head">
                <h2 class="section-title is-center">Have Question In mind? <br>
                    Let us help you</h2>
            </div>
            <div class="flex center">
                <form class="form2 bg-transparent ">
                    <input type="text" class="input2" placeholder="Enter Your Email Adress">
                    <button class="btn btn-primary btn-round btn2"> get started </button>
                </form>
            </div>
        </div>
    </section> --> -->
