
    <!-- <div class="container">
        <div class="header-wrap">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2 class="header-title" data-aos="fade-up" data-aos-delay="500">We Build Teams That
                        Build Your <span class="draw">Software</span> </h2>
                    <p class="header-desc" data-aos="fade-up" data-aos-delay="600">The legals for growing your
                        company. Sorted.
  
  
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary " data-aos="fade-up" data-aos-delay="700">
                            Get
                            Started<ion-icon name="arrow-forward"></ion-icon></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <br>
    <br>
    <div class="container">
        <div class="header-img">
        <img
         src="../assets/images/bg/encodeio-header-banner-1.png" alt="" width="100%" height="auto"/>         
         </div>
    </div>
       
        <!-- =========================== Steps-->
<br><br><br><br>

        <section class="section section-steps is-sm bg-secondary">

            <div class="container">
                
                <div class="section-head">
                    <h2 class="section-title is-center ">
                        3 simple steps for your awesome creative!
    
                    </h2>
                    <p class="section-description is-center ml-auto mr-auto mt-20">
                        We understand the importance of your creatives, story behing each image 
                        and believe in the power of simple and easy communication.
                    </p>
                </div>
                <div class="SimpleSteps">
                    <div class="SimpleSteps__step">
                        <div class="SimpleSteps__step-content">Discuss Design Theme<br>with our team</div>
                    </div>
                    <div class="SimpleSteps__step">
                        <div class="SimpleSteps__step-content">Approve Storyline &<br>Design Concept</div>
                    </div>
                    <div class="SimpleSteps__step">
                        
                        <div class="SimpleSteps__step-content">Ready Creative &<br>Storyline</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================== section About -->
        <section class="section is-sm section-about section-counter bg-secondary pt-0">
            <div class="container">
                <div class="row flex vcenter">
                    <div class="col-lg-6">
                        <div class="section-head mb-lg-0">
                            <h5 class="section-subtitle "> What We Do Best </h5>
                            <h2 class="section-title ">We Will Create Your
                                Design Masterpiece</h2>
                            <p class="section-desc">We are a leading Creative Designing Agency closely working with 
                                more than 300 brands for the last 5 years. We design Creatives for Ad Agency, Social Media  
                                Marketing, Apps, Film & Television, Online Marketing etc. 
                            </p>
                            <a href="#" class="btn btn-secondary ">Our Portfolio</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img class="about-img" src="../assets/images/bg/bg-svg.svg" alt="">
    
                    </div>
    
                </div>
            </div>
        </section>
        <!-- =========================== section companies-->
        <div class="container" data-aos="fade-up" data-aos-delay="500">
            <div class="section is-sm pb-0">
                <div class=" section section-companies has-style1">
                    <div class="row min-30 flex center">
                        <div class="col-lg-2 col-md-3  col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/slack.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/github.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/uber.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/github.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/google.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="company-item">
                                <img src="../assets/images/logos/envato.svg" alt="">
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <!-- =========================== section testimonials-->
        <section class="section is-sm section-testi bg-secondary">
            <div class="container">
                <div class="section-head">
                    <h2 class="section-title is-center "> Our Valuable Clients Testimonials!
                        <span class="text-primary"> </span>
                    </h2>
                    <p class="section-description is-center  ml-auto mr-auto mt-20">
                        Offered our services to companies of every size, and in different countries.
                    </p>
                </div>
                <div class=" testi-boxes-slick">
                    <div class="">
                        <div class="testimonial element-eight">
                            <div class="description">
                                Lorem ipsum dolor sit consectetur elitd do eiusmod adipiscing tempor
                                incidi dunt ut aliqua. Lorem ipsum dolor sit do eiusmod adipiscing tempor incidi dunt ut
                                aliqua.<div class="arrow"></div>
                            </div><img src="../assets/images/others/testi.png"  alt="">
                            <div class="author">
                                <h5>Jenie Smith</h5>
                                <p>Product Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="testimonial element-eight">
                            <div class="description">Lorem ipsum dolor sit consectetur elitd do eiusmod adipiscing tempor
                                incidi dunt ut aliqua. Lorem ipsum dolor sit do eiusmod adipiscing tempor incidi dunt ut
                                aliqua.<div class="arrow"></div>
                            </div><img src="../assets/images/others/testi1.png" alt="">
                            <div class="author">
                                <h5>Jenie Smith</h5>
                                <p>Product Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="testimonial element-eight">
                            <div class="description">Lorem ipsum dolor sit consectetur elitd do eiusmod adipiscing tempor
                                incidi dunt ut aliqua. Lorem ipsum dolor sit do eiusmod adipiscing tempor incidi dunt ut
                                aliqua.<div class="arrow"></div>
                            </div><img src="../assets/images/others/testi.png" alt="">
                            <div class="author">
                                <h5>Jenie Smith</h5>
                                <p>Product Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="testimonial element-eight">
                            <div class="description">Lorem ipsum dolor sit consectetur elitd do eiusmod adipiscing tempor
                                incidi dunt ut aliqua. Lorem ipsum dolor sit do eiusmod adipiscing tempor incidi dunt ut
                                aliqua.<div class="arrow"></div>
                            </div><img src="../assets/images/others/testi2.png" alt="">
                            <div class="author">
                                <h5>Jenie Smith</h5>
                                <p>Product Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- =========================== section Call2action-->
    
        <section class="section is-sm is-dark-green bg-pattern ">
            <div class="container">
                <div class="plan-single">
                    <div class="section-head ">
                        <h2 class="section-title is-center mb-0"> Try betakit free for 14 days
                        </h2>
                        <p class="section-desc text-center desc-plan">
                            betakit is $5 per month, per sales channel – all-inclusive. Only pay for what you use, period.
                            Start your 14-day free trial today.
                        </p>
                    </div>
                    <div class="">
                        <div class="row d-flex align-items-center justify-content-center">
    
                            <div class="col-lg-6 mb-5 mb-lg-0 mb-xl-0">
                                <div class="box bg-points">
                                    <h5 class=" title ">Simple</h5>
                                    <div class="">
                                        <div class="width">
                                            <div class="pricing">$</div>
    
                                            <h2 class="price text-center">5</h2>
                                        </div>
                                    </div>
                                    <p class="text-center billed">Per month, per
                                        channel</p>
                                    <a class="btn-block btn btn-primary text-white ">Get
                                        started</a>
    
                                </div>
                            </div>
    
                            <div class="col-lg-6 text-left">
                                <div class="mx-auto">
                                    <h5 class=" list-title">Start selling more today</h5>
                                    <hr class="my-0">
                                    <div class="row d-flex align-items-center justify-content-center o-margin__top--30">
                                        <div class="col-sm-6">
                                            <ul class="list">
                                                <li class="list__pricing"><img src="../assets/images/others/tick-price.svg"
                                                        class="mr-3" alt="check">  2GB Cloud Storage
                                                    </li>
                                                <li class="list__pricing"><img src="../assets/images/others/tick-price.svg"
                                                        class="mr-3" alt="check">Enterprise SLA
                                                    </li>
                                                <li class="list__pricing"><img src="../assets/images/others/tick-price.svg"
                                                        class="mr-3" alt="check">Personal Account </li>
    
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul class="list">
                                                <li class="list__pricing"><img src="../assets/images/others/tick-price.svg"
                                                        class="mr-3" alt="check">Unlimited Storage
                                                    </li>
                                                <li class="list__pricing"><img src="../assets/images/others/tick-price.svg"
                                                        class="mr-3" alt="check"> Uptime Guarantee</li>
                                                <li class="list__pricing"><img src="../assets/images/others/tick-price.svg"
                                                        class="mr-3" alt="check">Grow your sales</li>
    
                                            </ul>
                                        </div>
                                    </div>
                                    <hr class="my-0">
                                    <ul class="list">
                                        <li class="paragraph">* All fees are billed in US dollars.
                                        </li>
                                        <li class="paragraph">* A minimum of 2 sales channels is
                                            required.</li>
                                    </ul>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="footer has-style1">
        <div class="footer-head">
            <button id="button" class="to-top">
                <ion-icon name="arrow-up"></ion-icon>
            </button>
            <div class="section is-sm ">
                <div class="container">
                    <h2 class="section-title text-center ml-auto mr-auto">Connect With Us</h2>
                    <div class="flex center mt-5">
                        <form class=" bg-transparent ">
                            <input type="text" class="footer-input" placeholder="Enter Your Email Address">
                            <button class="btn btn-primary footer-btn"> Newsletter </button>
                        </form>
                    </div>
                    <div class="row footer-contact min-30">
                        <div class="col-sm-6 col-md-4">
                            <div class="contact-item">
                                <h6>Contact Number 
                                </h6>
                                <p class="contact-item-info">+91 88600 00155</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="contact-item">
                                <h6>Email Address 
                                </h6>
                                <p class="contact-item-info">info@encodeio.com</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="contact-item">
                                <h6>Office Address 
                                </h6>
                                <p class="contact-item-info">S-469, Greater Kailash Part 1, New Delhi, 110065, India</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

